// header Styles Starts --------------------------------
header {
  .brand {
    svg {
      height: 1.5rem;
      width: 7.62rem;
    }
  }
  nav {
    ul.main-menu {
      column-gap: 1.33rem;
      & > li {
        display: flex;
        align-items: stretch;
        & > a {
        }
        &.has-sub-menu {
          &:after {
            content: "";
            width: 1rem;
            height: 1rem;
            background-image: url('data:image/svg + xml,<svgviewBox="0 0 14 8"fill="none"xmlns="http://www.w3.org/2000/svg"><style>.p1{fill:var(--dark-color;}</style><pathfill-rule="evenodd"clip-rule="evenodd"d="M7.3977 7.66292C7.17802 7.88259 6.82192 7.88259 6.60225 7.66292L0.867387 1.92804C0.64772 1.70837 0.64772 1.35227 0.867387 1.13259L1.13256 0.867393C1.35222 0.647718 1.70838 0.647718 1.92805 0.867393L6.99997 5.93934L12.0719 0.867393C12.2916 0.647718 12.6477 0.647718 12.8674 0.867393L13.1326 1.13259C13.3522 1.35227 13.3522 1.70837 13.1326 1.92804L7.3977 7.66292Z"class="p1"/></svg>');
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: 100%;
          }
        }
      }
    }
  }
  .auth-container {
    column-gap: 1rem;
  }
}
// header Styles Ends --------------------------------

// Hero Section Style Starts -------------------------
section.hero-sec {
  padding: 3.75rem 0;
  .search-container {
    border: 1px solid var(--border-color);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
  }
  .site-container {
    & > .flex {
      column-gap: 5rem;
    }
  }
  .image-sec {
    .img-cont {
      border-radius: 2rem;
      max-height: 40rem;
    }
    .featured-image-container {
      .topLeft-clip {
        position: absolute;
        left: 0;
        top: 0;
        width: 33%;
        aspect-ratio: 1/1;
        background: var(--white);
        border-radius: 0 0 2rem 0;
        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 100%;
          top: 0;
          width: 2rem;
          aspect-ratio: 1/1;
          background: transparent;
          border-radius: 2rem 0 0 0;
          box-shadow: -0.4rem -0.4rem 0rem 0.3rem var(--white);
        }
        &:before {
          left: 0;
          top: 100%;
        }
      }
      .rightBottom-clip {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 33%;
        aspect-ratio: 1/1;
        background: var(--white);
        border-radius: 2rem 0 0 0;
        z-index: 1;
        &:after,
        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 100%;
          width: 2rem;
          aspect-ratio: 1 / 1;
          background: transparent;
          border-radius: 0 0 2rem 0;
          box-shadow: 0.4rem 0.4rem 0rem 0.3rem var(--white);
        }
        &:before {
          right: 100%;
          bottom: 0;
        }
      }
    }
    .rating-demo {
      background: var(--white);
      padding: 0.65rem;
      border-radius: 1rem;
      top: 8%;
      left: 0;
      box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
    }
  }
}
// Hero Section Style Ends ---------------------------
