// header Styles Starts ------------------------------
header {
  top: 0;
  z-index: 9;
  background: var(--trans-bg);
  backdrop-filter: blur(0.5rem) contrast(2);
  .brand {
    svg {
      height: 1.5rem;
      width: 7.62rem;
    }
  }
  nav {
    ul.main-menu {
      column-gap: 1.33rem;
      & > li {
        display: flex;
        align-items: stretch;
        & > a {
        }
        &.has-sub-menu {
          &:after {
            content: "";
            width: 1rem;
            height: 1rem;
            background-image: url('data:image/svg + xml,<svgviewBox="0 0 14 8"fill="none"xmlns="http://www.w3.org/2000/svg"><style>.p1{fill:var(--dark-color;}</style><pathfill-rule="evenodd"clip-rule="evenodd"d="M7.3977 7.66292C7.17802 7.88259 6.82192 7.88259 6.60225 7.66292L0.867387 1.92804C0.64772 1.70837 0.64772 1.35227 0.867387 1.13259L1.13256 0.867393C1.35222 0.647718 1.70838 0.647718 1.92805 0.867393L6.99997 5.93934L12.0719 0.867393C12.2916 0.647718 12.6477 0.647718 12.8674 0.867393L13.1326 1.13259C13.3522 1.35227 13.3522 1.70837 13.1326 1.92804L7.3977 7.66292Z"class="p1"/></svg>');
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: 100%;
          }
        }
      }
    }
  }
  .auth-container {
    column-gap: 1rem;
    .mode-switcher,
    svg {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
    .mode-switcher {
      svg {
        padding: 0.4rem;
        fill: var(--dark-color);
      }
      span {
        &:first-child {
          margin-top: -2.35rem;
          transition: 0.5s;
        }
      }
    }
    .dark {
      &.mode-switcher {
        span {
          &:first-child {
            margin-top: 0rem;
          }
        }
      }
    }
  }
}

// header Styles Ends --------------------------------

// Hero Section Style Starts -------------------------
section.hero-sec {
  .search-container {
    border: 1px solid var(--border-color-light);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    .location-cont {
      &:after {
        content: "";
        position: absolute;
        left: calc(100% + 1rem);
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        background: var(--text-color);
        height: 50%;
      }
    }
    input {
      border: none;
      padding: 0.5rem;
      margin: 0 -0.5rem;
      width: 100%;
      border-radius: 0.3rem;
      font-size: 0.9rem;
      font-family: inherit;
      background: transparent;
      &:focus-visible {
        background: var(--l-bg-color);
        outline: none;
      }
      &::placeholder {
        color: var(--text-color);
      }
      &[type="datetime-local"] {
        text-transform: uppercase;
        color: var(--text-color);
        font-family: inherit;
        &::-webkit-calendar-picker-indicator {
          // display: none;
        }
      }
    }
    span.label {
      font-size: 1rem;
      color: var(--dark-color);
    }
    .btn.theme-btn {
      border: none;
      background: var(--theme-color);
      width: max-content;
      padding: 0.75rem;
      cursor: pointer;
      svg {
        fill: var(--white);
      }
    }
  }
  .site-container {
    & > .flex {
      column-gap: 5rem;
    }
  }
  .image-sec {
    .img-cont {
      border-radius: 2rem;
      max-height: 40rem;
    }
    .featured-image-container {
      .topLeft-clip {
        position: absolute;
        left: 0;
        top: 0;
        width: 33%;
        aspect-ratio: 1/1;
        background: var(--white);
        border-radius: 0 0 2rem 0;
        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 100%;
          top: 0;
          width: 2rem;
          aspect-ratio: 1/1;
          background: transparent;
          border-radius: 2rem 0 0 0;
          box-shadow: -0.4rem -0.4rem 0rem 0.3rem var(--white);
        }
        &:before {
          left: 0;
          top: 100%;
        }
      }
      .rightBottom-clip {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 33%;
        aspect-ratio: 1/1;
        background: var(--white);
        border-radius: 2rem 0 0 0;
        z-index: 1;
        &:after,
        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 100%;
          width: 2rem;
          aspect-ratio: 1 / 1;
          background: transparent;
          border-radius: 0 0 2rem 0;
          box-shadow: 0.4rem 0.4rem 0rem 0.3rem var(--white);
        }
        &:before {
          right: 100%;
          bottom: 0;
        }
      }
    }
    .rating-demo {
      background: var(--white);
      padding: 0.65rem;
      border-radius: 1rem;
      top: 10%;
      left: 2rem;
      box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
      .thumb-cont {
        width: 3.625rem;
        aspect-ratio: 1 / 1;
        border-radius: 0.5rem;
      }
      h5 {
        font-size: inherit;
        font-weight: normal;
        line-height: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
      .rate {
        column-gap: 0.2rem;
        svg {
          width: 1rem;
          height: 1rem;
          fill: var(--star-color);
        }
      }
    }
    .scroll-down-anim {
      right: 0;
      bottom: 0;
      z-index: 1;
      width: calc(33% - 1rem);
      aspect-ratio: 1 / 1;
      svg {
        width: 80%;
        height: 80%;
        animation: rotate 30s infinite linear;
        transition: 0.5s;
        .st0 {
          font-size: 2rem;
          letter-spacing: 2.2rem;
          transition: 0.5s;
          fill: var(--dark-color);
        }
      }
      a {
        left: 50%;
        top: 50%;
        border: 0.2rem solid var(--dark-color);
        height: 2.875rem;
        width: 1.625rem;
        border-radius: 10rem;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0.65rem;
          height: 0.65rem;
          background: var(--dark-color);
          transform: translate(-50%, -0.33rem);
          border-radius: 1rem;
          transition: 0.5s;
        }
      }
      &:hover {
        svg {
          animation: rotate 5s infinite linear;
          .st0 {
            fill: var(--theme-color);
          }
        }
        a {
          border-color: var(--theme-color);
          &:after {
            bottom: 100%;
            background: var(--theme-color);
            transform: translate(-50%, 1rem);
          }
        }
      }
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .social-info-container {
    .lable {
      font-size: 1rem;
      color: var(--text-color);
      font-weight: normal;
    }
    ul.social-links {
      column-gap: 1rem;
      li {
        a {
          width: 2.5rem;
          height: 2.5rem;
          background: var(--l-bg-color);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10rem;
          padding: 0.2rem;
          fill: var(--text-color);
          transition: 0.2s;
          &:hover {
            background: var(--theme-color);
            fill: var(--white);
          }
        }
      }
    }
  }
}
// Hero Section Style Ends ---------------------------

// Our Partner Section Starts ------------------------
section.our-partner {
  .h2 {
    color: var(--l-heading);
    font-size: 1.5rem;
  }
  ul.partner-list {
    column-gap: 2rem;
    li {
      img {
        height: 2rem;
        width: auto;
      }
    }
  }
}
// Our Partner Section Ends --------------------------
// Popular destinations Section Starts --------------
section.popular-destinations {
  .h2 {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
  }
  .prev,
  .next {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 0.8rem;

    border: 1px solid;
    cursor: pointer;
    background: var(--theme-color);
    fill: var(--white);
    border-color: var(--theme-color);
    &.slick-disabled {
      background: none;
      fill: var(--text-color);
      border-color: var(--text-color);
    }
  }

  .site-container.left-side {
    max-width: unset;
    margin-left: calc(calc(100% - var(--container-size)) / 2);
  }
  .dest-card-slider {
    .slick-track {
      display: flex;
      column-gap: 2rem;
      padding: 2rem 0;
    }
  }
  .dest-card {
    transition: 1s;
    transform: translateY(0);
    picture {
      width: 22rem;
      aspect-ratio: 1/1;
      border-radius: 0.75rem;
      img {
        transform: scale(1);
        transition: 1s;
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: var(--theme-color);
        mix-blend-mode: color;
        transition: 0.3s;
      }
    }
    .meta-data {
      h5 {
        font-weight: normal;
        font-size: 1.25rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0.2rem;
      }
      .rate {
        column-gap: 0.2rem;
        svg {
          width: 1rem;
          height: 1rem;
          fill: var(--star-color);
        }
      }
    }
    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
    &:hover {
      transform: translateY(-1rem);
      picture {
        img {
          transform: scale(1.1);
        }
        &:after {
          top: 50%;
        }
      }
    }
  }
}
// Popular destinations Section Ends ----------------
// Journeys Section Starts -----------------------
section.journeys {
  .content-container {
    padding-right: 7.5rem;
    .h2 {
      font-size: 2.5rem;
      font-weight: normal;
    }
    .pointers-list {
      padding-left: calc(1.5rem + 0.5rem);
      li {
        &:nth-child(even) {
          padding-right: 0;
        }
      }
      h6 {
        font-size: 1.125rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
        &:before {
          content: attr(count);
          background: var(--theme-color);
          color: var(--white);
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10rem;
          margin-right: 0.5rem;
          margin-left: calc(-1.5rem - 0.5rem);
          font-weight: normal;
          font-size: 0.7rem;
          margin-top: -0.2rem;
        }
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  .featured-container {
    .journeys-gallery {
      gap: 1.5rem;
      picture {
        border-radius: 1.125rem;
        height: 16.5rem;
        flex: 1;
        &:first-child {
          height: 20rem;
          flex: unset;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        aspect-ratio: 1/1;
        background: var(--theme-color);
        border-radius: 50%;
        z-index: -1;
        opacity: 10%;
        filter: blur(0);
        transition: 0.5s;
      }
    }
    .satisfied-customer {
      position: absolute;
      top: 10%;
      left: 0;
      transform: translate(-4rem, 0%);
      background: var(--white);
      padding: 0.75rem;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
      ul.customers-list {
        li {
          margin-left: -1rem;
          &:first-child {
            margin-left: 0;
          }
          picture {
            width: 3rem;
            height: 3rem;
            border-radius: 3rem;
            border: 0.188rem solid var(--white);
          }
        }
      }
    }
  }
}
// Journeys Section Ends -------------------------
// Our Services Section Starts ---------------------------
section.our-service {
  .site-container {
    & > .flex {
      column-gap: 5rem;
      & > .w-50 {
        flex: 1;
      }
    }
  }
  .featured-container {
    picture {
      aspect-ratio: 1/1;
      border-radius: 1.375rem;
    }
    .rating-demo {
      background: var(--white);
      padding: 0.65rem;
      border-radius: 1rem;
      top: 10%;
      right: 0;
      box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
      transform: translateX(3rem);
      .thumb-cont {
        width: 3.625rem;
        aspect-ratio: 1 / 1;
        border-radius: 0.5rem;
      }
      h5 {
        font-size: inherit;
        font-weight: normal;
        line-height: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
      .rate {
        column-gap: 0.2rem;
        svg {
          width: 1rem;
          height: 1rem;
          fill: var(--star-color);
        }
      }
    }
    .customer-profile {
      background: var(--white);
      padding: 0.65rem;
      border-radius: 10rem;
      bottom: 21%;
      left: 0;
      box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
      transform: translateX(-2.5rem);
      .thumb-cont {
        width: 3rem;
        aspect-ratio: 1 / 1;
        border-radius: 10rem;
      }
      h5 {
        font-weight: normal;
        line-height: 1.688rem;
        font-size: 1.125rem;
      }
      p {
        font-size: 0.875rem;
        line-height: 1.313rem;
      }
    }
  }
  .content-container {
    .h2 {
      font-size: 2.5rem;
      font-weight: normal;
    }
  }
}
// Our Services Section Ends -----------------------------
// Testimonials Section Starts -------------------------
section.testimonials {
  .site-container {
    max-height: 100vh;
    overflow: hidden;
  }
  .testimonials-container {
    column-count: 3;
    gap: 2rem;
    .testimonial-card {
      column-count: 1;
      padding: 2rem;
      box-shadow: 0rem 0.25rem 0.625rem 0 #171c1f3b;
      margin-bottom: 2rem;
      break-inside: avoid;
      border-radius: 0.5rem;
      .rating {
        column-gap: 0.25rem;
        svg {
          width: 1.25rem;
          height: 1.25rem;
          fill: var(--star-color);
        }
        &[rating="4"] {
          svg:last-child {
            fill: var(--border-color);
          }
        }
      }
      .profile {
        picture {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
        }
        h5.name {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
        }
        h6.designation {
          font-size: 1rem;
          font-weight: normal;
          color: var(--text-color);
      }
      }
      .review {
        font-weight: normal;
        &:after,
        &:before {
          content: '"';
        }
      }
    }
  }
}
.dark {
  .testimonial-card {
    box-shadow: 0rem 0.25rem 0.625rem 0 #000 !important;
  }
}
// Testimonials Section Ends ---------------------------
