@font-face {
  font-family: "Travel";
  src: url("../Fonts/circular-std-medium-500.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: #35aff4;
  --text-color: #909090;
  --l-heading: #9e9e9e;
  --white: #fff;
  --shadow-color: #324b682b;
  --text-color-alt: #454545;
  --border-color: #b7b7b7;
  --border-color-light: rgba(183, 183, 183, 0.3);
  --dark-color: #181818;
  --l-bg-color: #f0f0f0;
  --star-color: #f9b811;
  font-size: 16px;
  --theme-font: "travel";
  --container-size: 1300px;
  --section-space: 3.75rem;
}

html {
  scroll-behavior: smooth;
}
html.dark {
  --theme-color: #35aff4;
  --text-color: #d9d9d9;
  --l-heading: #9e9e9e;
  --white: #181818;
  --shadow-color: #324b687d;
  --text-color-alt: #e5e5e5;
  --border-color: #b7b7b7;
  --border-color-light: rgba(183, 183, 183, 0.3);
  --dark-color: #fff;
  --l-bg-color: #f0f0f00d;
  --star-color: #f9b811;
  font-size: 16px;
  --theme-font: "travel";
  --container-size: 1300px;
  --section-space: 3.75rem;
}

body {
  font-family: var(--theme-font);
  font-size: 1.125rem;
  font-weight: 450;
  color: var(--text-color);
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  font-weight: bold;
}

.h1 {
  font-size: 4.5rem;
}

p {
  line-height: 1.688rem;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn {
  padding: 0.5rem 1.25rem;
  display: flex;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  font-weight: lighter;
}
.btn.theme-btn-alt {
  color: var(--text-color-alt);
  border: 1px solid var(--border-color);
}
.btn.theme-btn {
  background: var(--theme-color);
  color: var(--white);
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: normal;
}
.btn.theme-btn-dark {
  color: var(--white);
  background: var(--dark-color);
}

.site-container {
  max-width: var(--container-size);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-flex-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.align-space-between {
  align-items: space-between;
}

.flex-column {
  flex-direction: column;
}

.list-null {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-sec {
  padding-top: var(--section-space);
  padding-bottom: var(--section-space);
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.theme-color {
  color: var(--theme-color);
}

.theme-fill {
  fill: var(--theme-color);
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-overlay {
  overflow: overlay;
}

.text-uppercase {
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
}

.text-lowercase {
  -webkit-text-decoration: lowercase;
          text-decoration: lowercase;
}

.text-capitalize {
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
}

header .brand svg {
  height: 1.5rem;
  width: 7.62rem;
}
header nav ul.main-menu {
  -moz-column-gap: 1.33rem;
       column-gap: 1.33rem;
}
header nav ul.main-menu > li {
  display: flex;
  align-items: stretch;
}
header nav ul.main-menu > li.has-sub-menu:after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg + xml,<svgviewBox="0 0 14 8"fill="none"xmlns="http://www.w3.org/2000/svg"><style>.p1{fill:var(--dark-color;}</style><pathfill-rule="evenodd"clip-rule="evenodd"d="M7.3977 7.66292C7.17802 7.88259 6.82192 7.88259 6.60225 7.66292L0.867387 1.92804C0.64772 1.70837 0.64772 1.35227 0.867387 1.13259L1.13256 0.867393C1.35222 0.647718 1.70838 0.647718 1.92805 0.867393L6.99997 5.93934L12.0719 0.867393C12.2916 0.647718 12.6477 0.647718 12.8674 0.867393L13.1326 1.13259C13.3522 1.35227 13.3522 1.70837 13.1326 1.92804L7.3977 7.66292Z"class="p1"/></svg>');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}
header .auth-container {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
header .auth-container .mode-switcher,
header .auth-container svg {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
header .auth-container .mode-switcher svg {
  padding: 0.4rem;
  fill: var(--dark-color);
}
header .auth-container .mode-switcher span:first-child {
  margin-top: -2.35rem;
  transition: 0.5s;
}
header .auth-container .dark.mode-switcher span:first-child {
  margin-top: 0rem;
}

section.hero-sec .search-container {
  border: 1px solid var(--border-color-light);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}
section.hero-sec .search-container .location-cont:after {
  content: "";
  position: absolute;
  left: calc(100% + 1rem);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  background: var(--text-color);
  height: 50%;
}
section.hero-sec .search-container input {
  border: none;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-family: inherit;
  background: transparent;
}
section.hero-sec .search-container input:focus-visible {
  background: var(--l-bg-color);
  outline: none;
}
section.hero-sec .search-container input::-moz-placeholder {
  color: var(--text-color);
}
section.hero-sec .search-container input::placeholder {
  color: var(--text-color);
}
section.hero-sec .search-container input[type=datetime-local] {
  text-transform: uppercase;
  color: var(--text-color);
  font-family: inherit;
}
section.hero-sec .search-container span.label {
  font-size: 1rem;
  color: var(--dark-color);
}
section.hero-sec .search-container .btn.theme-btn {
  border: none;
  background: var(--theme-color);
  width: -moz-max-content;
  width: max-content;
  padding: 0.75rem;
  cursor: pointer;
}
section.hero-sec .search-container .btn.theme-btn svg {
  fill: var(--white);
}
section.hero-sec .site-container > .flex {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
section.hero-sec .image-sec .img-cont {
  border-radius: 2rem;
  max-height: 40rem;
}
section.hero-sec .image-sec .featured-image-container .topLeft-clip {
  position: absolute;
  left: 0;
  top: 0;
  width: 33%;
  aspect-ratio: 1/1;
  background: var(--white);
  border-radius: 0 0 2rem 0;
}
section.hero-sec .image-sec .featured-image-container .topLeft-clip:after, section.hero-sec .image-sec .featured-image-container .topLeft-clip:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 2rem;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 2rem 0 0 0;
  box-shadow: -0.4rem -0.4rem 0rem 0.3rem var(--white);
}
section.hero-sec .image-sec .featured-image-container .topLeft-clip:before {
  left: 0;
  top: 100%;
}
section.hero-sec .image-sec .featured-image-container .rightBottom-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33%;
  aspect-ratio: 1/1;
  background: var(--white);
  border-radius: 2rem 0 0 0;
  z-index: 1;
}
section.hero-sec .image-sec .featured-image-container .rightBottom-clip:after, section.hero-sec .image-sec .featured-image-container .rightBottom-clip:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 2rem;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 0 0 2rem 0;
  box-shadow: 0.4rem 0.4rem 0rem 0.3rem var(--white);
}
section.hero-sec .image-sec .featured-image-container .rightBottom-clip:before {
  right: 100%;
  bottom: 0;
}
section.hero-sec .image-sec .rating-demo {
  background: var(--white);
  padding: 0.65rem;
  border-radius: 1rem;
  top: 10%;
  left: 2rem;
  box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
}
section.hero-sec .image-sec .rating-demo .thumb-cont {
  width: 3.625rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}
section.hero-sec .image-sec .rating-demo h5 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.8rem;
}
section.hero-sec .image-sec .rating-demo p {
  font-size: 0.9rem;
}
section.hero-sec .image-sec .rating-demo .rate {
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
section.hero-sec .image-sec .rating-demo .rate svg {
  width: 1rem;
  height: 1rem;
  fill: var(--star-color);
}
section.hero-sec .image-sec .scroll-down-anim {
  right: 0;
  bottom: 0;
  z-index: 1;
  width: calc(33% - 1rem);
  aspect-ratio: 1/1;
}
section.hero-sec .image-sec .scroll-down-anim svg {
  width: 80%;
  height: 80%;
  animation: rotate 30s infinite linear;
  transition: 0.5s;
}
section.hero-sec .image-sec .scroll-down-anim svg .st0 {
  font-size: 2rem;
  letter-spacing: 2.2rem;
  transition: 0.5s;
  fill: var(--dark-color);
}
section.hero-sec .image-sec .scroll-down-anim a {
  left: 50%;
  top: 50%;
  border: 0.2rem solid var(--dark-color);
  height: 2.875rem;
  width: 1.625rem;
  border-radius: 10rem;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
section.hero-sec .image-sec .scroll-down-anim a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0.65rem;
  height: 0.65rem;
  background: var(--dark-color);
  transform: translate(-50%, -0.33rem);
  border-radius: 1rem;
  transition: 0.5s;
}
section.hero-sec .image-sec .scroll-down-anim:hover svg {
  animation: rotate 5s infinite linear;
}
section.hero-sec .image-sec .scroll-down-anim:hover svg .st0 {
  fill: var(--theme-color);
}
section.hero-sec .image-sec .scroll-down-anim:hover a {
  border-color: var(--theme-color);
}
section.hero-sec .image-sec .scroll-down-anim:hover a:after {
  bottom: 100%;
  background: var(--theme-color);
  transform: translate(-50%, 1rem);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section.hero-sec .social-info-container .lable {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: normal;
}
section.hero-sec .social-info-container ul.social-links {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
section.hero-sec .social-info-container ul.social-links li a {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--l-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  padding: 0.2rem;
  fill: var(--text-color);
  transition: 0.2s;
}
section.hero-sec .social-info-container ul.social-links li a:hover {
  background: var(--theme-color);
  fill: var(--white);
}

section.our-partner .h2 {
  color: var(--l-heading);
  font-size: 1.5rem;
}
section.our-partner ul.partner-list {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
section.our-partner ul.partner-list li img {
  height: 2rem;
  width: auto;
}

section.popular-destinations .h2 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
section.popular-destinations .prev,
section.popular-destinations .next {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  padding: 0.8rem;
  border: 1px solid;
  cursor: pointer;
  background: var(--theme-color);
  fill: var(--white);
  border-color: var(--theme-color);
}
section.popular-destinations .prev.slick-disabled,
section.popular-destinations .next.slick-disabled {
  background: none;
  fill: var(--text-color);
  border-color: var(--text-color);
}
section.popular-destinations .site-container.left-side {
  max-width: unset;
  margin-left: calc((100% - var(--container-size)) / 2);
}
section.popular-destinations .dest-card-slider .slick-track {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 2rem 0;
}
section.popular-destinations .dest-card {
  transition: 1s;
  transform: translateY(0);
}
section.popular-destinations .dest-card picture {
  width: 22rem;
  aspect-ratio: 1/1;
  border-radius: 0.75rem;
}
section.popular-destinations .dest-card picture img {
  transform: scale(1);
  transition: 1s;
}
section.popular-destinations .dest-card picture:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--theme-color);
  mix-blend-mode: color;
  transition: 0.3s;
}
section.popular-destinations .dest-card .meta-data h5 {
  font-weight: normal;
  font-size: 1.25rem;
}
section.popular-destinations .dest-card .meta-data p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
section.popular-destinations .dest-card .meta-data .rate {
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
section.popular-destinations .dest-card .meta-data .rate svg {
  width: 1rem;
  height: 1rem;
  fill: var(--star-color);
}
section.popular-destinations .dest-card a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
section.popular-destinations .dest-card:hover {
  transform: translateY(-1rem);
}
section.popular-destinations .dest-card:hover picture img {
  transform: scale(1.1);
}
section.popular-destinations .dest-card:hover picture:after {
  top: 50%;
}

section.journeys .content-container {
  padding-right: 7.5rem;
}
section.journeys .content-container .h2 {
  font-size: 2.5rem;
  font-weight: normal;
}
section.journeys .content-container .pointers-list {
  padding-left: 2rem;
}
section.journeys .content-container .pointers-list li:nth-child(even) {
  padding-right: 0;
}
section.journeys .content-container .pointers-list h6 {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
section.journeys .content-container .pointers-list h6:before {
  content: attr(count);
  background: var(--theme-color);
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  margin-right: 0.5rem;
  margin-left: -2rem;
  font-weight: normal;
  font-size: 0.7rem;
  margin-top: -0.2rem;
}
section.journeys .content-container .pointers-list p {
  font-size: 1rem;
  line-height: 1.5rem;
}
section.journeys .featured-container .journeys-gallery {
  gap: 1.5rem;
}
section.journeys .featured-container .journeys-gallery picture {
  border-radius: 1.125rem;
  height: 16.5rem;
  flex: 1;
}
section.journeys .featured-container .journeys-gallery picture:first-child {
  height: 20rem;
  flex: unset;
}
section.journeys .featured-container .journeys-gallery:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  aspect-ratio: 1/1;
  background: var(--theme-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 10%;
  filter: blur(0);
  transition: 0.5s;
}
section.journeys .featured-container .satisfied-customer {
  position: absolute;
  top: 10%;
  left: 0;
  transform: translate(-4rem, 0%);
  background: var(--white);
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
}
section.journeys .featured-container .satisfied-customer ul.customers-list li {
  margin-left: -1rem;
}
section.journeys .featured-container .satisfied-customer ul.customers-list li:first-child {
  margin-left: 0;
}
section.journeys .featured-container .satisfied-customer ul.customers-list li picture {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: 0.188rem solid var(--white);
}

section.our-service .site-container > .flex {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
section.our-service .site-container > .flex > .w-50 {
  flex: 1;
}
section.our-service .featured-container picture {
  aspect-ratio: 1/1;
  border-radius: 1.375rem;
}
section.our-service .featured-container .rating-demo {
  background: var(--white);
  padding: 0.65rem;
  border-radius: 1rem;
  top: 10%;
  right: 0;
  box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
  transform: translateX(3rem);
}
section.our-service .featured-container .rating-demo .thumb-cont {
  width: 3.625rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}
section.our-service .featured-container .rating-demo h5 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.8rem;
}
section.our-service .featured-container .rating-demo p {
  font-size: 0.9rem;
}
section.our-service .featured-container .rating-demo .rate {
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
section.our-service .featured-container .rating-demo .rate svg {
  width: 1rem;
  height: 1rem;
  fill: var(--star-color);
}
section.our-service .featured-container .customer-profile {
  background: var(--white);
  padding: 0.65rem;
  border-radius: 10rem;
  bottom: 21%;
  left: 0;
  box-shadow: 0 0.5rem 2.125rem 0 var(--shadow-color);
  transform: translateX(-2.5rem);
}
section.our-service .featured-container .customer-profile .thumb-cont {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 10rem;
}
section.our-service .featured-container .customer-profile h5 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.688rem;
  font-size: 1.125rem;
}
section.our-service .featured-container .customer-profile p {
  font-size: 0.875rem;
  line-height: 1.313rem;
}
section.our-service .content-container .h2 {
  font-size: 2.5rem;
  font-weight: normal;
}/*# sourceMappingURL=main.css.map */